{% extends "base.html"%}
{% block content %}
{% load static %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-append">
        </div>
        <input type="text" name="username" placeholder="Usuário..." class="form-control">
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
        </div>
            <input type="password" name="password" placeholder="Senha..." class="form-control" >
    </div>

        <div class="d-flex justify-content-center mt-3 login_container">
             <input class="btn login_btn" type="submit" value="Entrar">
           </div>
</form>

{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor %}

<a href="{% url 'signUp' %}">
Registrar-se
</a>



{% endblock %}